#left-banner {
	position : absolute;
	left : 0;
	top : 0;
	width : 420px;
	height : 86px;
}
#fdh-header {
	position : absolute;
	top : 0px;
	left : 0px;
	margin-right: 0px;
	width : 100%;
    background: white;
}
#right-banner {
	float : right;
	display : inline;
	top : 0;
	width : 378px;
	height : 86px;
}

.vibi_plot_ic{
    background-image: url(../img/table.png);
}

.vibi_species_ic {
		background-image: url(../img/table.png);
}

.vibi_plot_module_herbaceous_ic {
		background-image: url(../img/table.png);
}

.vibi_plot_module_herbaceous_info_ic {
		background-image: url(../img/table.png);
}

.vibi_herbaceous_relative_cover_ic {
		background-image: url(../img/table.png);
}

.vibi_metric_calculations_ic {
		background-image: url(../img/table.png);
}

.vibi_plot_module_woody_raw_ic {
		background-image: url(../img/table.png);
}

.vibi_plot_module_woody_ic_dbh {
		background-image: url(../img/table.png);
}

.vibi_plot_module_woody_ic_dbh_cm {
		background-image: url(../img/table.png);
}

.vibi_woody_importance_value_ic {
		background-image: url(../img/table.png);
}

.vibi_biomass_ic {
		background-image: url(../img/table.png);
}