<FlowConfiguration>

    <id>mapper</id>
    <description>spread sheet to data base</description>
    <name>mapper</name>
    <autorun>true</autorun>

    <EventGeneratorConfiguration>
        <serviceID>fsEventGeneratorService</serviceID>
        <wildCard>*</wildCard>
        <watchDirectory>vibi/input</watchDirectory>
        <osType>OS_UNDEFINED</osType>
        <eventType>FILE_ADDED</eventType>
    </EventGeneratorConfiguration>

    <EventConsumerConfiguration>

	<listenerId>Logger</listenerId>
        <listenerId>Cumulator</listenerId>
        <listenerId>Status</listenerId>

        <MapperConfiguration>
            <id>mapper</id>
            <name>mapper</name>
            <description>spread sheet to data base</description>
            <dbtype>postgis</dbtype>
            <host>localhost</host>
            <port>5432</port>
            <schema>public</schema>
            <database>vibi</database>
            <user>vibi</user>
            <passwd>vibi</passwd>
            <outputPath>/tmp</outputPath>
            <dbUrl>jdbc:postgresql://localhost:5432/vibi</dbUrl>
        </MapperConfiguration>

    </EventConsumerConfiguration>

    <ListenerConfigurations>
        <LoggingProgressListener>
            <serviceID>loggingListenerService</serviceID>
            <id>Logger</id>
            <loggerName>it.geosolutions.geobatch</loggerName>
        </LoggingProgressListener>
        <CumulatingProgressListener>
            <serviceID>cumulatingListenerService</serviceID>
            <id>Cumulator</id>
        </CumulatingProgressListener>
        <StatusProgressListener>
            <serviceID>statusListenerService</serviceID>
            <id>Status</id>
        </StatusProgressListener>
    </ListenerConfigurations>

</FlowConfiguration>
