<FlowConfiguration>
    <id>mapper</id>
    <description>spread sheet to data base</description>
    <name>mapper</name>
    <autorun>true</autorun>

    <EventGeneratorConfiguration>
        <serviceID>fsEventGeneratorService</serviceID>
        <wildCard>*</wildCard>
        <watchDirectory>vibi/input</watchDirectory>
        <osType>OS_UNDEFINED</osType>
        <eventType>FILE_ADDED</eventType>
    </EventGeneratorConfiguration>

    <EventConsumerConfiguration>

        <MapperConfiguration>
            <id>mapper</id>
            <name>mapper</name>
            <description>spread sheet to data base</description>
            <dbtype>postgis</dbtype>
            <host>localhost</host>
            <port>5432</port>
            <schema>public</schema>
            <database>postgres</database>
            <user>postgres</user>
            <passwd>postgres</passwd>
        </MapperConfiguration>

    </EventConsumerConfiguration>
</FlowConfiguration>
